<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">

            <div class="card">
                <div class="card-header">
                    <h5 class="title">Empleados</h5>
                    <form>
                        <div class="form-group form-inline">
                            <input class="form-control ml-2" placeholder="Buscar..." type="text" [formControl]="filter" />
                        </div>
                    </form>
                </div>
                <div class="card-body">
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                        <table class="table table-striped table-hover mb-0">
                            <thead class=" text-primary">
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th class="text-right">DNI</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let empleado of empleados; let i = index" (click)="setActive(empleado,i);" [class.table-active]="i == currentIndex">
                                    <td>{{i}}</td>
                                    <td>{{empleado.nombre}}</td>
                                    <td>{{empleado.apellido}}</td>
                                    <td>{{empleado.dni}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>