<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search by title" [(ngModel)]="title" />
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" (click)="search()">
            Search
          </button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let empleado of empleados; let i = index" [class.active]="i == currentIndex" (click)="setActive(empleado, i)">
                    {{ empleado.apellido }}, {{ empleado.nombre }} - {{ empleado.dni }}
                </li>
            </ul>

            <button class="m-3 btn btn-sm btn-danger" (click)="removeAll()">
        Remove All
      </button>
        </div>
        <div class="col-md-6">
            <div *ngIf="current.id">
                <h4>Tutorial</h4>
                <div>
                    <label><strong>Title:</strong></label> {{ current.nombre}
                </div>
                <div>
                    <label><strong>Description:</strong></label> {{ current.nombre }}
                </div>
                <div>
                    <label><strong>Status:</strong></label> {{ current.dni ? "Published" : "Pending" }}
                </div>

                <a class="badge badge-warning" routerLink="/empleados/{{ current.id }}">
          Edit
        </a>
            </div>

            <div *ngIf="!current">
                <br />
                <p>Please click on a Tutorial...</p>
            </div>
        </div>
    </div>


</div>
