.formEmpleado {
  min-width: 350px;
  margin-top: 5px;
  .items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  mat-form-field {
    margin: auto;
    padding: 10px;
    //text-align: center;
    width: 250px;
    min-width: 200px;
  }
  .input-small {
    width: 120px;
    min-width: 100px;
    padding: 0px 35px 0px;
  }
}
mat-card-title {
  text-align: center;
}

@media print {
  header nav,
  footer {
    display: none;
  }

  button {
    display: none;
  }
}
