<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="90%" fxFlex.xs="100%" class="formEmpleado">
    <mat-card-title>Nuevo Empleado</mat-card-title>
    <form
      [formGroup]="empleado"
      autocomplete="off"
      novalidate
      (ngSubmit)="createEmppleado(empleado.value)"
      fxLayout="column wrap"
      fxLayoutAlign="center center"
      fxLayoutGap="10px"
    >
      <mat-card-content>
        <mat-divider></mat-divider>
        <h2>Datos Personales</h2>
        <div class="items">
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="Nombre/s"
              formControlName="firstName"
              id="firstName"
            />
            <mat-hint align="end">No mas de 20 caracteres</mat-hint>
            <mat-error *ngIf="hasError('firstName', 'required')"
              >Name is required</mat-error
            >
            <mat-error *ngIf="hasError('firstName', 'maxlength')"
              >No mas de 20 caracteres</mat-error
            >
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="Apellido/s"
              formControlName="lastName"
              id="lastName"
            />
            <mat-hint align="end">No mas de 20 caracteres.</mat-hint>
            <mat-error *ngIf="hasError('lastName', 'required')"
              >Name is required</mat-error
            >
            <mat-error *ngIf="hasError('lastName', 'maxlength')"
              >No mas de 20 caracteres</mat-error
            >
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              [matDatepicker]="picker"
              placeholder="Fecha Nacimiento"
              formControlName="dateOfBirth"
              id="dateOfBirth"
              readonly
              (click)="picker.open()"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Genero</mat-label>
            <mat-select formControlName="gender" id="gender" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let g of genders" [value]="g">
                {{ g }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="hasError('gender', 'required')"
              >Seleccionar uno.</mat-error
            >
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="D.N.I"
              formControlName="dni"
            />
            <mat-hint align="end">Formato: 12345678</mat-hint>
            <mat-error *ngIf="hasError('dni', 'required')"
              >Address is required</mat-error
            >
          </mat-form-field>

          <mat-form-field>
            <mat-label>Estado Civil</mat-label>
            <mat-select
              formControlName="maritalStatus"
              id="maritalStatus"
              required
            >
              <mat-option>--</mat-option>
              <mat-option *ngFor="let ms of maritalStatuss" [value]="ms">
                {{ ms }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="hasError('maritalStatus', 'required')"
              >Seleccionar uno.</mat-error
            >
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="Direccion"
              formControlName="address"
            />
            <mat-hint align="end">Not more then 100 characters long.</mat-hint>
            <mat-error *ngIf="hasError('address', 'required')"
              >Address is required</mat-error
            >
            <mat-error *ngIf="hasError('address', 'maxlength')"
              >You have more than 100 characters</mat-error
            >
          </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <h2>Datos Laborales</h2>
        <div class="items">
          <mat-form-field>
            <input
              matInput
              [matDatepicker]="picker2"
              placeholder="Fecha de Alta"
              formControlName="dateStart"
              id="dateStart"
              readonly
              (click)="picker.open()"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker2"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="C.U.I.L"
              formControlName="cuil"
              id="cuil"
            />
            <mat-hint align="end">Formato: 12-12345678-1</mat-hint>
            <mat-error *ngIf="hasError('cuil', 'maxlength')"
              >Formato 12-12345678-1</mat-error
            >
          </mat-form-field>

          <mat-form-field>
            <mat-label>Categoria</mat-label>
            <mat-select formControlName="category" id="category" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let cat of categorys" [value]="cat">
                {{ cat.nombre }} ( {{ cat.info }} )
              </mat-option>
            </mat-select>
            <mat-error *ngIf="hasError('category', 'required')"
              >Seleccionar uno.</mat-error
            >
          </mat-form-field>

          <mat-form-field>
            <mat-label>Puesto</mat-label>
            <mat-select formControlName="position" id="position" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let pos of positions" [value]="pos">
                {{ pos.nombre }} ( {{ pos.info }} )
              </mat-option>
            </mat-select>
            <mat-error *ngIf="hasError('maritalStatus', 'required')"
              >Seleccionar uno.</mat-error
            >
          </mat-form-field>

          <mat-form-field>
            <input matInput type="text" placeholder="Info" id="info" />
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <mat-divider></mat-divider>
        <button mat-raised-button color="primary" [disabled]="!empleado.valid">
          Create
        </button>
        <button
          type="button"
          mat-raised-button
          color="warn"
          (click)="onCancel()"
        >
          Cancel
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>
