<footer class="footer">
    <div class="container-fluid">
        <nav>
            <ul>
                <li>
                    <a href="#">
            About Us
          </a>
                </li>
                <li>
                    <a href="#">
            Blog
          </a>
                </li>
            </ul>
        </nav>
        <div class="copyright">
            &copy; {{fechaHoy | date: 'yyyy'}}, Designed by
            <a href="#" target="_blank">Zero6 Co.</a>. Coded by
            <a href="#" target="_blank">Zapukay Inc.</a>.
        </div>
    </div>
</footer>
