/* Structure */
table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

tr.mat-row:hover {
  background-color: yellow;
}
