<section class="container">
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. ium"
      #input
    />
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="idEmpresa">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let empresa">{{ empresa.idEmpresa }}</td>
    </ng-container>
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
      <td mat-cell *matCellDef="let empresa">{{ empresa.nombre }}</td>
    </ng-container>

    <ng-container matColumnDef="cuit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>CUIT</th>
      <td mat-cell *matCellDef="let empresa">{{ empresa.cuit }}</td>
    </ng-container>

    <ng-container matColumnDef="test">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Test</th>
      <td mat-cell *matCellDef="let empresa">{{ getTest(empresa) }}</td>
    </ng-container>

    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef>Detalle</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          color="primary"
          (click)="redirectToDetails(element.idEmpresa)"
        >
          <mat-icon class="mat-18">reorder</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row matRipple *matRowDef="let row; columns: columnas"></tr>
  </table>

  <div
    *ngIf="isLoading"
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      background: white;
    "
  >
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </div>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 50, 100]">
  </mat-paginator>
</section>
