<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="90%" fxFlex.xs="100%" class="formBaja">
    <mat-card-title>Dar de Baja a Empleado</mat-card-title>
    <form
      [formGroup]="formBaja"
      autocomplete="off"
      novalidate
      fxLayout="column wrap"
      fxLayoutAlign="center center"
      fxLayoutGap="10px"
    >
      <mat-card-content>
        <mat-divider></mat-divider>
        <div class="items">
          <!-- Nacimiento -->
          <mat-form-field class="input-small">
            <input
              matInput
              [matDatepicker]="picker"
              placeholder="Fecha Baja"
              formControlName="fechaBaja"
              id="fechaBaja"
              readonly
              (click)="picker.open()"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <!-- INFO-->
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="Motivo"
              formControlName="info"
              id="info"
            />
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <mat-divider></mat-divider>
        <button
          mat-raised-button
          md-dialog-close
          color="warn"
          type="submit"
          [disabled]="!formBaja.valid"
          (click)="onDelete(formBaja.value)"
        >
          Dar Baja
        </button>
        <button
          type="button"
          mat-raised-button
          md-dialog-close
          color="accent"
          (click)="onNoClick()"
        >
          Cancelar
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>
