<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="90%" fxFlex.xs="100%" class="form">
    <mat-card-title>Nueva Vacacion</mat-card-title>
    <form
      [formGroup]="form"
      autocomplete="off"
      novalidate
      (ngSubmit)="create(form.value)"
      fxLayout="column wrap"
      fxLayoutAlign="center center"
      fxLayoutGap="10px"
    >
      <mat-card-content>
        <mat-divider></mat-divider>

        <div class="items">
          <!-- Detalle -->
          <mat-form-field>
            <mat-label>Detalle</mat-label>
            <mat-select
              [(value)]="selectedDetailVacation"
              formControlName="detalle"
              id="detalle"
            >
              <mat-option
                [value]="option"
                *ngFor="let option of detailVacacion"
                (click)="onChange()"
                >{{ option.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <!-- Fecha -->
          <mat-form-field class="input-small" *ngIf="!isNuevaVacaccion">
            <input
              matInput
              [matDatepicker]="pickerFecha"
              placeholder="Fecha"
              formControlName="fecha"
              id="fecha"
              readonly
              (click)="pickerFecha.open()"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerFecha"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerFecha></mat-datepicker>
          </mat-form-field>

          <!-- Dias -->
          <mat-form-field class="input-number">
            <input
              matInput
              type="number"
              placeholder="Dias"
              formControlName="dias"
              id="dias"
            />
            <mat-hint align="end">---</mat-hint>
            <mat-error *ngIf="hasError('dias', 'required')"
              >Name is required</mat-error
            >
            <mat-error *ngIf="hasError('dias', 'maxlength')"
              >No mas de 5 caracteres</mat-error
            >
          </mat-form-field>
          <!-- Anio -->
          <mat-form-field class="input-number">
            <input
              matInput
              type="number"
              placeholder="Año"
              formControlName="anio"
              id="anio"
            />
            <mat-error *ngIf="hasError('anio', 'maxlength')"
              >No mas de 20 caracteres</mat-error
            >
          </mat-form-field>
          <!-- Fecha Toma-->
          <mat-form-field class="input-small" *ngIf="!isNuevaVacaccion">
            <input
              matInput
              [matDatepicker]="pickerFechaToma"
              placeholder="Fecha Toma"
              formControlName="fechaToma"
              id="fechaToma"
              readonly
              (click)="pickerFechaToma.open()"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerFechaToma"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerFechaToma></mat-datepicker>
            <mat-hint align="end">Cuando comienza.</mat-hint>
          </mat-form-field>
          <!-- Info -->
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="Info"
              formControlName="info"
              id="info"
            />
            <mat-hint align="end">No mas de 20 caracteres</mat-hint>
            <mat-error *ngIf="hasError('info', 'required')"
              >Name is required</mat-error
            >
            <mat-error *ngIf="hasError('info', 'maxlength')"
              >No mas de 20 caracteres</mat-error
            >
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <mat-divider></mat-divider>
        <button
          mat-raised-button
          md-dialog-close
          color="primary"
          type="submit"
          [disabled]="!form.valid"
        >
          Guardar
        </button>
        <button
          type="button"
          mat-raised-button
          md-dialog-close
          color="warn"
          (click)="onNoClick()"
        >
          Cancelar
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>
