<div class="container body-error">

    <div class="row align-items-center">

        <div class="col align-self-center">
            <img class="img-error" src="../../../assets/img/404OH.png">
            <h2>404 Not Found</h2>
            <p>Sorry, an error has occured, Requested page not found!</p>
            <div class="error-actions">
                <a href="/home" class="btn btn-primary btn-lg">
                    <span class="glyphicon glyphicon-arrow-left"></span> Regresar al Inicio
                </a>
            </div>

        </div>

    </div>
</div>