<!--
<li><span class="float-left label">Date of birth</span>
    <div class="float-right fill-text position-relative edit-calender">
        <input type="text" (click)="d.toggle()" class="edit-field" [outsideDays]="'collapsed'" id="datePicker" ngbDatepicker formControlName="dob" #d="ngbDatepicker" [minDate]="minDate" [maxDate]="maxDate" readonly>
        <span class="calendar" id="calIcon" (click)="waitAndToggle();"><i id="calIcon" class="far fa-calendar-alt"></i></span>
        <div class="text-danger" *ngIf="form.get('dob').hasError('required')
            && ( form.get('dob').touched || formSubmitAttempt)">
            {{ 'Validations.dob' | translate }}
        </div>
    </div>
</li>
-->
<div class="container" style="padding-top: 50px; background-color: bisque;">

    <form class="form-inline">
        <div class="form-group">
            <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                </div>
            </div>
        </div>
    </form>

    <hr/>
    <pre>Model: {{ model | json }}</pre>

</div>