.container {
  width: 100%;
  display: flex; /* or inline-flex */
  flex-flow: row wrap;
  justify-content: space-around;
}

.container-table {
  min-width: 500px;
}

table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

tr.mat-row:hover {
  background-color: rgb(179, 243, 179);
}
