<section class="container">
  <div fxFlex="48" class="container-table" fxFlex.xs="50">
    <div class="search-row">
      <mat-form-field class="cl-input">
        <mat-label>Buscar...</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Ex. ium"
          #input
        />
      </mat-form-field>
      <button
        mat-stroked-button
        color="primary"
        [routerLink]="'exportExcel'"
        routerLinkActive=""
        (click)="exportVacacion()"
      >
        Exportar
      </button>
    </div>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="apellido">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Empleado</th>
        <td mat-cell *matCellDef="let empleado">
          {{ getFullName(empleado) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="fechaAlta">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Alta</th>
        <td mat-cell *matCellDef="let empleado">
          {{ empleado.fechaAlta | date: "dd/MM/yyyy" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="antiguedad">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Antiguedad</th>
        <td mat-cell *matCellDef="let empleado">
          {{ calcAntiguedad(empleado.fechaAlta) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="diasDisponibles">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Dias Disponibles
        </th>
        <td mat-cell *matCellDef="let empleado">
          {{ diasDisponibles(empleado.idPersona) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Categoria</th>
        <td mat-cell *matCellDef="let empleado">
          {{ empleado.categoria.nombre }}
        </td>
      </ng-container>

      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef>Detalle</th>
        <td mat-cell *matCellDef="let empleado">
          <button
            mat-icon-button
            color="primary"
            (click)="showVacaciones(empleado)"
          >
            <mat-icon class="mat-18">visibility</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnas"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: columnas"
        (click)="onClickedRow(row)"
        [ngClass]="{ selected: row === selectedRow }"
      >
        >
      </tr>
    </table>

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 50, 100]">
    </mat-paginator>
  </div>
  <!-- Vacaciones List -->
  <div fxFlex="48" class="container-table" fxFlex.xs="50">
    <app-vacacion-list [idEmpleado]="idEmpleado"></app-vacacion-list>
  </div>
</section>
